In [1]:
def function1():
    print("This is inside the function")
    print("Will only run when the function is called")
print("This is outside the function")
print("Will always run as it is outside the function")

This is outside the function
Will always run as it is outside the function

In [2]:
function1()

This is inside the function
Will only run when the function is called

In [3]:
def function2(x):
    return 2*x

In [4]:
a = function2(3)

In [5]:
a

6

In [7]:
def function3(x,y):
    return x+y

In [8]:
e = function3(3,7)
print(e)

10

In [9]:
def function4(x):
    print(x)
    print("still in this format")
    return 3*x

In [10]:
f = function4(4)

4
still in this format

In [11]:
print(f)

12

In [12]:
def function5(some_arguement):
    print(some_arguement)
    print("hiii")

In [13]:
function5(4)

4
hiii

In [14]:
def function6(x):
    print(x)
    print("still in this function")
    x = x + 3
    return 3*x

In [15]:
g = function6(4)
print(g)

4
still in this function
21

In [16]:
def function7(x):
    print(x)
    print("still in this function")
    x = x+3
    return 3*x

In [19]:
x = 4
h = function7(x)
print("still in this function")
print(h)

4
still in this function
still in this function
21

In [23]:
# BMI Calculator

name1 = "yakub"
weight_kg3 = 55
height_m3 = 1.52

name2 = "matar"
weight4  = 58
height4 = 1.52

def bmi_calculator(name, weight_kg, height_m):
    bmi = weight_kg / (height_m ** 2)
    print("bmi is: ")
    print(bmi)
    if bmi < 25:
        return name + " is not overweight"
    else:
        return name + " is overweight"
    
result1 = bmi_calculator(name1, weight_kg3, height_m3)
result2 = bmi_calculator(name2, weight4, height4)
print(result1)
print(result2)

bmi is:
23.80540166204986
bmi is:
25.10387811634349
yakub is not overweight
matar is overweight

In [24]:
def convert(mile):
    km = mile*1.60934
    print(mile)
    print("miles is equal to")
    return km

In [25]:
print(convert(4))

4
miles is equal to
6.43736

In [26]:
def converts(mile):
    km = mile*1.60934
    print(mile)
    print("miles is equal to")
    return km, 'kms'

In [27]:
print(converts(10))

10
miles is equal to
(16.0934, 'kms')

In [28]:
print(convert(90))

90
miles is equal to
144.8406

In [35]:
# example for calculating cost of petrol

def petrol_pump(petrol):
    rupees = petrol*80.79
    print("for", petrol, 'liter petrol pay', rupees, "rupees")
    return rupees

In [37]:
a = petrol_pump(5)

for 5 liter petrol pay 403.95000000000005 rupees

In [40]:
# Sum of 10 numbers
total = 0
for petrol in range(1, 11):
    rupees = petrol*80.79
    print("for ",  petrol, " litres of petrol pay", rupees)
total = total + rupees
print("final total amount", total, "rs")

for  1  litres of petrol pay 80.79
for  2  litres of petrol pay 161.58
for  3  litres of petrol pay 242.37
for  4  litres of petrol pay 323.16
for  5  litres of petrol pay 403.95000000000005
for  6  litres of petrol pay 484.74
for  7  litres of petrol pay 565.5300000000001
for  8  litres of petrol pay 646.32
for  9  litres of petrol pay 727.11
for  10  litres of petrol pay 807.9000000000001
final total amount 807.9000000000001 rs

In [42]:
# Round Off
total = 0
for petrol in range(1,11):
    rupees = petrol*80.79
    print("for", petrol, "litre pay", round(rupees), "rs")
total = total +rupees
print("final total amount is: ", round(total), "rs")

for 1 litre pay 81 rs
for 2 litre pay 162 rs
for 3 litre pay 242 rs
for 4 litre pay 323 rs
for 5 litre pay 404 rs
for 6 litre pay 485 rs
for 7 litre pay 566 rs
for 8 litre pay 646 rs
for 9 litre pay 727 rs
for 10 litre pay 808 rs
final total amount is:  808 rs